/* Shared Styles */
body {
    font-family: 'Open Sans', sans-serif;
}


/* nav related styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 15px 35px;
    margin-top: 30px;
    margin-right: 20px;
}

.header-class {
    background: #FFF8F3;
    background-image: url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;


}

.banner {
    padding: 30px 30ex 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 584px;
    height: 676px;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;

}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-desc {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.list-nav {
    padding-top: 20px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.section {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

.about {
    margin-top: 130px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-inf {
    text-align: center;

}

.info-description {
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#what-i-do-descripton {
    padding: 30px 150px;
    text-align: center;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.skill {

    padding: 33px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 33px 33px;


}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.resume-column-title {

    font-size: 30px;
    font-weight: 700;
    color: #474747;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;

}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;

}

.resume-item-descriotion {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.resume-container {
    display: flex;
    gap: 70px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer style */

footer {
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}

.footer-column {
    width: 50%;
}

.input {
    height: 64px;
    width: 461px;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: var(--white-color, #FFF);
    border: none;
}

.social-link a{
    margin-right: 24px;
}